@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent body scroll for app-like feel */
}
